{% extends 'base.html' %}

{% block navigation_items %}
	<li><a href=".">{{ pledge.donor.name }}</a></li>
{% endblock %}

{% block header %}
    <h2>Welcome to WUVT Radiothon</h2>
{% endblock %}

{% block content %}
<h2 class='subform_title'>Select an Action</h2>
<p>Using the <a href="/radiothon/admin">Admin Interface</a> you can...
	<ul>
	    <li>Browse Pledge and Donor Information</li>
        <li>Add/remove premiums</li>
	    <li>Track premium stocks</li>
	</ul>
</p>
<p>Using the <a href="{% url pledge-form %}">Mission Control pledge form</a> you can...
    <ul>
        <li>Take pledges over the phone</li>
    </ul>
</p>
{% endblock %}