{% extends 'base.html' %}

{% block script %}
<script src='{{STATIC_URL}}pledge.js'></script>
{% endblock %}

{% block header %}
    <h2>WUVT Radiothon Pledge Form</h2>
{% endblock %}

{% block errors %}
{% if errors %}
    <h2 class='error_title'>Errors</h2>
    {% for error in errors %}
        {{ forloop.counter }}. {{ error|safe }}<br>
    {% endfor %}
{% endif %}
{% endblock %}

{% block content %}
<a href='.'>Clear form</a>
<form action="/radiothon/pledge/" method="POST" onsubmit="$('form input[type=submit]')[0].disabled = true;">{% csrf_token %}
    <h2 class='subform_title'>Pledge</h2>
    <span class='mc_script'>Hello, thank you for calling WUVT. May I take your pledge?</span>
    {{ pledge.amount.label }}: ${{ pledge.amount }} <span class='mc_script inline'>How much would you like to pledge?</span>
    {{ pledge.amount.errors }} 
    <span class='mc_script'>Would you like to pay by Credit Card, Hokie Passport, Cash or Check?</span>
    {{ pledge.payment.label }}: {{ pledge.payment }} {{ pledge.payment.errors }}
    <div id='check_subform' style='display: none;'>
        <span class='mc_script'>All checks made out to WUVT</span>
    </div>
    <div id='credit_subform' style='display: none;'>
        <h2 class='subform_title'>Credit Card</h2>
        <span class='mc_script'>May I take your credit card information?</span>
        <p>{{ credit.number.label }}: {{ credit.number }} <span class='mc_instruction inline'>xxxx xxxx xxxx xxxx</span>
            {{ credit.number.errors }}</p>
        <p>{{ credit.type.label }}: {{ credit.type }}
        {{ credit.type.errors }}</p>
        <p>{{ credit.expiration.label }}: {{ credit.expiration }} <span class='mc_instruction inline'>xx/xx</span>
        {{ credit.expiration.errors }}</p>
    </div>
    <div id='hokiepassport_subform' style='display: none;'>
        <h2 class='subform_title'>Hokie Passport</h2>
        <span class='mc_script'>May I take your Hokie Passport number?</span>
        {{ hokiepassport.as_p }}
    </div>
    <div id='premiums_subform' style='display: none;'>
        <h2 class="subform_title">Premiums</h2>
        <span class='mc_script'>Would you like premiums, or would you like to put your entire donation towards the station?</span>
        <span class='mc_script'>If you want premiums, do you want them mailed, or do you want to pick them up at 350 Squires Student Center?</span>
        <p>{{ pledge.premium_delivery.label }}: {{ pledge.premium_delivery }}</p>
	<div id='mail_subform' style='display: none;'>
	    <span class='mc_script'>There is a $6 shipping charge for mailing premiums less than $120.</span>
	    <span class='mc_script'>There is a $10 shipping charge for mailing premiums $120 or over.</span>
	</div>
        <div id='premiums_subform_formarea'></div>
    </div>
    <h2 class='subform_title'>Donor Information</h2>
    <p>{{ donor.name.label }}: {{ donor.name }} {{ donor.name.errors }}</p>
    <span id='address_subform' style='display: none;'>
    <span class='mc_script'>May I write down your address?</span>
    {{ address.as_p }}
    </span>
    <p>{{ donor.phone.label }}: {{ donor.phone }} (optional) {{ donor.phone.errors }}</p>
    <p>{{ donor.email.label }}: {{ donor.email }} (optional) {{ donor.email.errors }}</p>
    <p>{{ pledge.show.label }}: {{ pledge.show }} {{ donor.show.errors }}</p>
    <p>{{ pledge.taker.label }}: {{ pledge.taker }} {{ pledge.taker.errors }}</p>
    <p>{{ donor.donation_list.label }}: {{ donor.donation_list }} <span class='mc_script inline'>Thank you for donating! Would you like your name included in a Thank You list in our Fall Newsletter?</span></p>
    <span class='mc_node inline'>Please enter any other relevant information here (Does the donor want a tax letter, are they donating online, etc.)</span>
    <p>{{ pledge.extra_info.label }}: {{ pledge.extra_info }} (optional) {{ pledge.extra_info.errors }}</p>
    <input type="submit" value="Submit" />
</form>
{{ sending_to }}
{% endblock %}
